<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">Admin Section</h1>

            <p class="underHeaderText">
                This view and functionality should only be available for authenticated admin.
                This morelikely will be using "OAuth2"
            </p>
        </div>

        <!-- Main Content -->
        <div class="col-lg-12">
            <section>
                <div class="panel panel-default">
                    <!-- List group -->
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Add Place</h4>
                            <p class="list-group-item-text">
                                Provides the functionality to create add a place to the database.
                            </p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Add Article</h4>
                            <p class="list-group-item-text">
                                Provides the functionality to create an article, link it to a place and add it to the database.
                            </p>
                        </a>
                        <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Add News/Blog entry</h4>
                            <p class="list-group-item-text">
                                Provides the functionality to add a blog/news entry that will be displayed on the home page.
                            </p>
                        </a>
                    </div>
                </div>
                <div>
                    <p>
                        The paginated list of all places with filters goes here
                    </p>
                </div>
            </section>
        </div>
        <!-- Main Content Ends-->

    </div>
</div>