<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">@ViewBag.PageTitle</h1>

            <p class="underHeaderText">
                Might not be needed exactly as it looks now
            </p>
        </div>

        <!-- Main Content -->
        <div class="col-lg-12">
            <section>
                Events go here
            </section>
        </div>
        <!-- Main Content Ends-->

    </div>
</div>