<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">@ViewBag.PageTitle</h1>

            <p class="underHeaderText">
                Might not be needed exactly as it looks now
            </p>
        </div>

        <!-- Main Content -->
        <div class="col-lg-12">
            <section>
                About us text goes here
            </section>
        </div>
        <!-- Main Content Ends-->

    </div>
</div>