<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">@ViewBag.PageTitle</h1>

            <p class="underHeaderText">
                Might not be needed exactly as it looks now
            </p>
        </div>

        <!-- Main Content -->
        <div class="col-lg-12">
            <section>
                @if (ViewBag.MessageSent)
                {
                    <p>Message has been sent</p>
                }
                
                Contact Us Form goes here

                @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
                {
                    <input type="text" placeholder="Name" name="name">
                    <input type="text" placeholder="Email" name="email">
                    <input type="text" placeholder="Subject" name="subject">
                    <input type="text" placeholder="Message" name="Message">

                    <button type="submit">Send Email</button>
                }
            </section>
        </div>
        <!-- Main Content Ends-->

    </div>
</div>