@model List<Indepp.Models.Place>

<section id="coffee">
    <div style="text-align: center;">
        <h2 style="text-transform: uppercase;">List of best Coffee places in UK</H2>
    </div>
    <ul>
        @foreach (var place in Model)
        {
            <li>@place.ID</li>
            <li>@place.Name</li>
            <li>@place.Category</li>
        }
    </ul>

</section>

