@model List<Indepp.Models.Place>

@foreach (var place in Model)
{
    <li>@place.ID</li>
    <li>@place.Name</li>
    <li>@place.Category</li>
}

<div>
    <p>Continuous deployment test</p>
    <button class="btn btn-danger">Bootsrap check</button>
</div>

<p style="padding-top: 40%">hello hi</p>