@model PagedList.IPagedList<Indepp.Models.Place>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            <a href="#menu-toggle" id="menu-toggle">
                <i class="fa fa-long-arrow-left"></i>
            </a>

            <h1 class="specialHeaderText">Place Map</h1>

            <p class="underHeaderText">
                Use the map to find what you up for today
            </p>

            <!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
        </div>

        <!-- Main Content -->
        <div class="col-md-12">
            <section id="placeList">
                <h2 class="uppercaseText">filters go under</h2>

                <label><input type="checkbox" id="coffeeBox" class="strikethrough" checked><span>Coffee</span></label>
                <label><input type="checkbox" id="foodBox" class="strikethrough" checked><span>Food</span></label>
                <label><input type="checkbox" id="farmBox" class="strikethrough" checked><span>Farms</span></label>
                <label><input type="checkbox" id="craftshopBox" class="strikethrough" checked><span>Craft Shops</span></label>
                <input type="text" id="searchBox" />

                <div id="placesMap" style="height: 500px;"></div>
            </section>
        </div>
        <!-- Main Content Ends-->
    </div>
</div>

@Scripts.Render("~/bundles/placemap")