<div class="container-fluid">
    <div class="row paperBody">
        <div class="col-lg-12">
            @Html.Partial("_NavigationIconsPartial")

            <h1 class="specialHeaderText">Thank You</h1>

            <p class="underHeaderText">
                Your place has been submitted!
                Thank you for your time and contribution, we will review your place shortly!
            </p>
        </div>

        <!-- Controls -->
        <div class="col-md-12">
            <div class="btn-group" role="group">
                @if (ViewBag.Error != null)
                {
                    <p>@ViewBag.Error</p>
                }
            </div>
        </div>
        <!-- /Controls -->
        <!-- Main Content -->
        <div class="col-md-8">
            <section id="placeDetails">
                <div>
                </div>
            </section>
        </div>
    </div>
</div>